<template>
  <div>
    <section v-if="logged ">
      <v-app>
        <v-container>
          <v-content>
            <v-layout column wrap>
              <tool-bar :user="users"></tool-bar>
              <v-layout column wrap>
                <main-section :user="users" :filter="filter" :todos="todos"></main-section>
              </v-layout>
              <v-layout column wrap>
                <header-section :user="users"></header-section>
              </v-layout>
              <v-layout row justify-center wrap>
                <footer-section @changeFilter="changefilter" :todos="todos"></footer-section>
              </v-layout>
            </v-layout>
          </v-content>
        </v-container>
      </v-app>
    </section>
    <section v-if="!logged ">
      <v-app>
        <v-container>
          <v-content>
            <v-layout justify-center>
              <v-flex xs12>
                <v-card>
                  <v-img
                    src="http://i.dailymail.co.uk/i/pix/2015/09/01/18/2BE1E88B00000578-3218613-image-m-5_1441127035222.jpg"
                    aspect-ratio="1"
                    height="300px"
                  ></v-img>

                  <v-card-title primary-title>
                    <div>
                      <h3 class="headline mb-0 text-xs-center">Google Login</h3>
                      <div>If you want to use this website you will have to loggin in with your google account.</div>
                    </div>
                  </v-card-title>

                  <div class="text-xs-center">
                    <v-btn color="success">
                      <google @logged="isLogged"></google>
                    </v-btn>
                  </div>
                </v-card>
              </v-flex>
            </v-layout>
          </v-content>
        </v-container>
      </v-app>
    </section>
  </div>
</template>

<script>
import Hearder from "./shared/HeaderSection.vue";
import Main from "./shared/MainSection.vue";
import Footer from "./shared/FooterSection.vue";
import google from "./shared/googleOAuth.vue";
import toolBar from "./toolBar.vue";
import { Todos } from "../api/todos";
import { Users } from "../api/users";
import { GDomains } from "../api/gdomains";

export default {
  data() {
    return {
      filter: "all",
      logged: false,
      idUser: ""
    };
  },
  components: {
    "header-section": Hearder,
    "main-section": Main,
    "footer-section": Footer,
    google: google,
    "tool-bar": toolBar
  },
  meteor: {
    todos() {
      return Todos.find({}).fetch();
    },

    users() {
      return (this.user = Users.find({ "user.Eea": this.idUser }).fetch()[0]);
    },
    domains() {
      return GDomains.find({}).fetch();
    }
  },
  methods: {
    isLogged(data) {
      // try to find the user on the db
      if (Users.find({ "user.Eea": data.Eea }).fetch().length != 0) {
        this.idUser = data.Eea;
        this.logged = true;

        // add the user data from the data arg of the function to the db
      } else {
        // add this user to the user db


        if(this.domains[0].domains.includes(data.U3.split("@")[1])){
         Users.insert({
          user: data,
          settings: {
            rol: "user"
          }
        });
        this.user = Users.find({ "user.Eea": data.Eea }).fetch();
this.idUser = data.Eea;
        this.logged = true; 
        }
        
      }
    },
    changefilter(filtro) {
      this.filter = filtro;
    }
  }
};
</script>

<style scoped>
</style>