<template>
  <v-dialog value="1" max-width="750px">
    <v-card>
      <v-card-title>
        <h2>Settings</h2>
        <v-spacer></v-spacer>
      </v-card-title>
      <v-layout column wrap>
        <v-flex sx12>
          <h3>Domains</h3>
          <input-tag type="text" @keydown.enter="updateGDomains" v-model="domains[0].domains"></input-tag>
          <button @click="updateGDomains">Submit</button>
        </v-flex>
        <v-flex sx12>
          <h3>Admins</h3>
          <ul>
            <li v-for="admin in roles" :key="admin._id">
              {{admin.user.U3}}
              <v-checkbox v-model="checkbox" :label="`Checkbox 1: ${checkbox.toString()}`"></v-checkbox>
            </li>
          </ul>
        </v-flex>
        <v-flex xs12>
          <input @keyup.enter v-model="newAdmin" type="text">
          <button @click="addNewAdmin">Submit</button>
        </v-flex>
      </v-layout>
      <v-card-actions>
        <v-btn color="primary" @click="$emit('closeSettingsModal')" flat>Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import InputTag from "vue-input-tag";
import { GDomains } from "../api/gdomains";
import { Users } from "../api/users";

export default {
  components: {
    "input-tag": InputTag
  },
  props: ["user"],
  data() {
    return {
      newAdmin: "",
      admins: []
    };
  },
  meteor: {
    domains() {
      return GDomains.find({}).fetch();
    },
    searchByEmail() {
      return Users.find({ "user.U3": this.newAdmin }).fetch()[0];
    },
    users() {
      return Users.find({}).fetch();
    }
  },
  methods: {
    updateGDomains() {
      GDomains.update(this.domains[0]._id, {
        $set: { domains: this.domains[0].domains }
      });
    },
    addNewAdmin() {
      let admins = [];
      if (this.searchByEmail.settings.rol != "admin" || "teacher") {
        Users.update(this.searchByEmail._id, {
          $set: { "settings.rol": "admin" }
        });
        this.users.forEach(user => {
          if (user.settings.rol.includes("admin", "teacher")) {
            admins.push(user);
          }

          this.admins = admins;
        });
      }
    }
  },
  computed: {
    roles(){
      this.user.forEach(u => {
        console.log(u);
      });
      return this.user;
    }
  },

};
</script>

<style lang="css" scoped>
</style>