<template>
  <v-list  two-line>
    <template>
      <v-list-tile  :key="todo.user.user.name" avatar @click>
        <v-list-tile-avatar>
          <img :src="todo.user.user.Paa">
        </v-list-tile-avatar>

        <v-list-tile-content>
          <v-list-tile-title v-html="todo.name"></v-list-tile-title>
          <v-list-tile-sub-title v-html="todo.user.user.ig"></v-list-tile-sub-title>
          <button @click="deleteTodo" class="destroy">
            <v-icon color="red">clear</v-icon>
          </button>
        </v-list-tile-content>
      </v-list-tile>
      <v-divider></v-divider>
    </template>
  </v-list>

</template>

<script>
export default {
  props: ["todo"],
  methods: {
    toggleCheck() {
      this.$emit("toggleCheck", {
        id: this.todo._id,
        completed: !this.todo.completed
      });
    },
    deleteTodo() {
      this.$emit("deleteTodo", {
        id: this.todo._id,
        todoUser: this.todo.user.user.Eea
      });
    }
  }
};
</script>

<style lang="css" scoped>
.avatar {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  background-color: rgb(10, 83, 217);
}
</style>