<template>
  <div v-drag-and-drop:options="options">
    <v-alert v-if="error" :value="true" type="error">This is not your card.</v-alert>
    <todo
      @deleteTodo="deleteTodo"
      @toggleCheck="toggleCheck"
      :todo="todo"
      v-for="todo in todos"
      :key="todo._id"
      :user="user"
    ></todo>
  </div>
</template>

<script>
import todo from "./Todo";
import { Todos } from "../api/todos";
export default {
  data() {
    return {
      error: false,
      options: {
        dropzoneSelector: "div",
        draggableSelector: "v-list",
        handlerSelector: null,
        reactivityEnabled: true,
        multipleDropzonesItemsDraggingEnabled: true,
        showDropzoneAreas: true,
        onDrop: function(event) {},
        onDragstart: function(event) {},
        onDragend: function(event) {}
      }
    };
  },
  components: {
    todo
  },
  props: ["todos", "user"],
  methods: {
    toggleCheck(todo) {
      Todos.update(todo.id, { $set: { completed: todo.completed } });
    },
    deleteTodo(data) {
      let me = this;
      if (
        this.user.user.Eea == data.todoUser ||
        this.user.settings.rol == "admin"
      ) {
        Todos.remove(data.id);
      } else {
        this.error = true;
        setTimeout(function() {
          me.error = false;
        }, 5000);
      }
    }
  },
  computed: {
    changeFilter(filtro) {
      this.filter = filtro;
    }
  }
};
</script>

<style lang="css" scoped>
</style>