<template>
<div> <v-toolbar color="blue darken-4" dark>
                <v-toolbar-side-icon></v-toolbar-side-icon>
                <v-toolbar-title class="headline">Todo App</v-toolbar-title>

                <v-spacer></v-spacer>

                <v-tooltip  v-if="user.settings.rol.includes('admin') " bottom>
                  <template v-slot:activator="{ on }">
            <v-btn icon v-on="on" @click="modal = !modal">
              <v-icon>settings</v-icon>
            </v-btn>
        </template>
                  <span>Settings</span>
                </v-tooltip>
              </v-toolbar>
              <modal :user="user" @closeSettingsModal="modal = !modal" v-if="modal"></modal></div>
   
</template>

<script>
import modal from "./modal";
    export default {
      components:{
        modal: modal
      },
        props:["user"],
        data() {
          return {
            modal: false
          }
        },
    }
</script>

<style lang="css" scoped>

</style>