<template>
  <v-footer class="pa-3">
    <v-flex sx12>
      <div class="text-xs-center">
        <span>
          <strong>{{todos.length}} active todo(s)</strong>
        </span>
      </div>


                <v-spacer></v-spacer>

    </v-flex>
  </v-footer>
</template>

<script>
export default {
  props: ["todos"],
  data() {
    return {
      filter: "all"
    };
  },
  methods: {
    changeFilter(filtro) {
      this.filter = filtro;
      this.$emit("changeFilter", this.filter);
    }
  }
};
</script>

<style lang="css" scoped>
</style>