<template>
  <div>
    <GoogleLogin :params="params" :onSuccess="onSuccess" :onFailure="onFailure">Login</GoogleLogin>
    
  </div>
</template>

<script>
import GoogleLogin from "vue-google-login";

export default {
  components: {
    GoogleLogin: GoogleLogin
  },
  name: "App",
  data() {
    return {
      // client_id is the only required property but you can add several more params, full list down bellow on the Auth api section
      params: {
        client_id:
          "599529156583-f2rtmfs3mbp30k4pvvkka0qlp8aenhp7.apps.googleusercontent.com"
      }
    };
  },
  methods: {
    onSuccess(googleUser) {
      this.$emit("logged",googleUser.getBasicProfile());
      

      // This only gets the user information: id, name, imageUrl and email
    },
    onFailure(googleUser) {
      console.log(googleUser);

      // This only gets the user information: id, name, imageUrl and email
    }
  }
};
</script>

<style lang="css" scoped>
</style>