<template>
  <v-flex xs12 sm6 md3>
    <v-alert v-if="error" :value="true" type="warning">You have a card already!</v-alert>
    <v-text-field
      @keyup.enter="insertTodo"
      v-model="todo"
      type="text"
      autofocus="autofocus"
      placeholder="What's your problem?"
      autocomplete="off"
      solo
    ></v-text-field>
  </v-flex>
</template>

<script>
import { Todos } from "../../api/todos";
export default {
  props: ["user"],
  data() {
    return {
      todo: "",
      error: false
    };
  },
  meteor: {
    todos() {
      return Todos.find({ "user.user.Eea": this.user.user.Eea }).fetch();
    }
  },
  methods: {
    insertTodo() {
      let newTodo = {
        user: this.user,
        name: this.todo,
        date: new Date(),
        completed: false
      };
      this.todo = "";
      let me = this;
      if (this.todos.length == 0) {
        Todos.insert(newTodo);
        this.error = false;
      } else {
        this.error = true;
        setTimeout(function() {
          me.error = false;
        }, 5000);
      }
    }
  }
};
</script>

<style  scoped>
h1 {
  font-size: 70px;
}
</style>