<template>

  <section class="main">
    
    <todo-list :user="user" :todos="changeFilter"></todo-list>
  </section>
</template>

<script>
import TodoList from "../TodoList.vue";
export default {

  components: {
    TodoList
  },
  props: ["todos", "filter","user"],
  methods: {},
  computed: {
    changeFilter() {
      switch (this.filter) {
        case 'all':
          return this.todos;
          break;
        case 'active':
          return this.todos.filter(todo => todo.completed === false);
          break;
        case 'completed':
          return this.todos.filter(todo => todo.completed === true);

          break;

        default:
          return this.todos;

          break;
      }
    }
  }
};
</script>

<style lang="css" scoped>
</style>